@{
  Layout = "_Layout";
}

@model University.Models.Student

<h2>Edit a student</h2>

<h4>Edit student's personal information: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{

  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select Major")
  @Html.DropDownList("DepartmentId")

  <input class="myCssClass" type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Students", "Index", null, null, new {@class="myCssClass"})</p>